BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: BlockIndent
BinPackParameters: AlwaysOnePerLine
AlignConsecutiveDeclarations: true
SortIncludes: true
IncludeCategories:
  - Regex:           '^<[Ww]indows\.h>'
    Priority:        1
  - Regex:           '^<.*>'
    Priority:        2
  - Regex:           '^".*>'
    Priority:        3